.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.row .col-1-of-6 {
  margin-bottom: 20px;
  flex: 0 1 16.66667%;
}

.row .item a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.row .item img {
  height: 100px; /* Or any other fixed value */
  width: 100px;
  margin-bottom: 10px;
}

.row .item span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
}

.loading {
  display: flex;
  justify-content: center;
}

.wrapper-tags {
  display: flex;
  margin-bottom: 30px;
}

.tags-item {
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #efefef;
  border-radius: 20px;
  border: 1px solid #efefef;
  margin-right: 15px;
  padding: 10px 25px;
}
.tags-item:first-letter {
  text-transform: uppercase;
}
.tags-item:last-child {
  margin-right: 0;
}
.tags-item:hover {
  background: #ffffff;
}
.tags-item.active {
  background: #000000;
  color: #fff;
}
